body {
    font-family: 'Helvetica Neue', sans-serif;
}

.sunny-bg {
    background: linear-gradient(to right, #FFD700, #FFA500);
    color: white;
}

.cloudy-bg {
    background: linear-gradient(to right, #B0C4DE, #778899);
    color: white;
}

.kpi-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
}

.kpi-card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card-text {
    font-size: 2em;
    font-weight: lighter;
}

.dash-container {
    margin-bottom: 1em;
}

.title-black {
    color: black !important;
}

.main-background {
    padding: 2em;
    border-radius: 10px;
}
